.create-btn{
    width: 100%;
}
.stay-duration{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.form{
    /* margin-right: 10px; */
    width: 40%;
}
.to img,.from img{
    height: 20px;
    position: relative;
    left: 75%;
    top: 50%;
    /* z-index: 3; */
}
.from img{
    left: 58%;
}
